<html>

<h1 align = "center">BLOG</h1>
<br /><br />
<h3>Insert new blog</h3>
<form name="blog_input" method=POST action="insert_blog" enctype="multipart/form-data">
<input type="text" name="title" placeholder="Title"></input>
<br />
<textarea rows="4" cols="50" name="blog_content" placeholder="Enter message"></textarea>
<br /><br />
<input type="file" name="image" >Upload Image: </input>
<br /><br />
<input type="submit" type="submit" value="Submit blog"></input>
</form>

<br /><br />
<h2>PREVIOUS BLOGS</h2>

{% for blog in blogs %}
<h2>{{ blog.title}}</h2>
<div align = "center"><img src="static/{{blog.image}}.png"></img></div>
<p> {{ blog.content|safe}} </p>
<hr>

{% endfor %}

</html>

